/* Geral */

* {
    padding: 0;
    margin: 0;
    font-family: Georgia;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #8D99AE;
    transition: 0.4s;
}

a:hover {
    color: #EF233C;
}

body {
    background-color: #2B2D42;
}

/* Navbar */

#navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #D90429;
    background-color: #EF233C;
    color: #EDF2F4;
}

#navbar a {
    color: #EDF2F4;
}

#navbar a:hover {
    color: #DDD;
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

/* Conteudo principal */

.container {
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

#posts-container {
    flex: 3 1 0;
}

.post {
    margin-bottom: 2.5rem;
}

.post img {
    width: 100%;
    margin-bottom: 1rem;
}

.title,
.description,
.author {
    margin-bottom: 1rem;
}

.title a {
    font-size: 2rem;
    color: #EF233C;
}

.author {
    color: #D90429;
}

.description {
    color: #EDF2F4;
}
/* Barra lateral */
#sidebar {
    flex: 1 1 0;
}

#search-bar, #categories, #tags {
    padding: 1.5rem;
    border: 1px solid #EF233C;
    margin-bottom: 1rem;
    border-radius: .4rem;
}

#search-bar h4, #categories h4, #tags h4 {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    color: #EF233C;
}

#search-bar form {
    display: flex;
}

#search-bar input {
    padding: .5rem 1rem;
    border: 1px solid #D90429;
}

#search-bar input[type="submit"]{
    cursor: pointer;
    background-color: #D90429;
    color: #EDF2F4;
    border: none;
}

#categories li {
    margin-bottom: 1rem;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

#tags-container a {
    background-color: #EF233C;
    padding: .5rem .7rem;
    border-radius: .3rem;
    color: #EDF2F4;
}

#tags-container a:hover {
    background-color: #d21f34;
}

/* Rodapé */
#footer {
    border-top: 2px solid #D90429;
    padding: 3rem;
    text-align: center;
    color: #EDF2F4;
    background-color: #EF233C;
}
#footer h2, #footer p {
    margin-bottom: .5rem;
}
/* Responsividade */
@media(max-width:450px) {
    .container {
        flex-wrap: wrap;
    }
}